html {
  font-family: sans-serif, serif;
}

* {
  margin: 0;
}

main {
  padding-block: 2rem;
  padding-inline: 1.5rem;
}
@media (min-width: 600px) {
  main {
    padding-inline: calc(20% - 3rem);
  }
}

.container {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container > button {
  width: max-content;
}

.todo-item,
.todo-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.todo-item > p,
.todo-form > input {
  width: 100%;
}

.todo-form > button {
  flex-shrink: 0;
}

.todo-item {
  opacity: 1;
  transition: opacity 100ms ease-out;
}
.todo-item.fade-start {
  opacity: 0;
}
