html {
  font-family: sans-serif, serif;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  height: 100vh;
}

main {
  height: 100%;
  padding: 2rem;
  overflow: auto;
}

@media (min-width: 600px) {
  main {
    padding-inline: calc(20% - 3rem);
  }
}

button {
  border: none;
  background-color: inherit;
}

button:hover {
  cursor: pointer;
}

.container {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.container > button {
  width: max-content;
}

.toolbar {
  margin-block: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.toolbar > button {
  border: none;
  border-radius: 0.5rem;
  background-color: #ebebeb;
  padding: 0.5rem;
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.toolbar > button:hover {
  cursor: pointer;
}

.toolbar > button::before {
  content: url('assets/plus.svg');
}

.list-item {
  border-radius: 0.5rem;
  background-color: #ebebeb;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  opacity: 1;
  transition: opacity 200ms ease-out;
}

.list-item.hide {
  opacity: 0;
}

.list-item > button {
  flex-shrink: 0;
}

.todo-item:hover,
.toolbar > button:hover {
  background-color: lightgrey;
}

.todo-item > p,
.todo-form > input {
  width: 100%;
  background-color: inherit;
}

.todo-item > p {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.todo-item > input[type='checkbox'] {
  display: none;
}

#todo-list .todo-item > p::before {
  content: url('assets/checkbox-unchecked.svg');
}

#completed-list .todo-item > p::before {
  content: url('assets/checkbox-checked.svg');
}

#completed-list .todo-item > p {
  text-decoration: line-through;
}

#completed-list .edit-button {
  display: none;
}

.edit-button::before {
  content: url('assets/edit.svg');
}

.delete-button::before {
  content: url('assets/delete.svg');
}

.save-button::before {
  content: url('assets/save.svg');
}
