body {
  font-family: sans-serif, serif;
}
body,
p,
ul {
  margin: 0;
  padding: 0;
}

main {
  padding: 1rem;
}

.container {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container > button {
    width: max-content;
}

.todo-item,
.todo-form {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.todo-form > input {
  width: clamp(24rem, calc(5rem + 50%), 40rem);
}
